google-api-python-client
google-auth-httplib2
httpx
ipykernel
ipython
jupyter_client
libcst
nbformat
numpy
pandas
Pillow>=9.4.0,<10.0.0
plotly
pydeck
pygments
pyflakes>=2.5.0,<3.0.0
pyjwt
stack-data
tokenize_rt
untokenize
