aiohttp
altair
anthropic
bahttext
black
bokeh
bs4
calweek
croniter
db-dtypes
descartes
fastavro
folium
feedparser
geodatasets
geopandas
geoplot
geopy
google-api-python-client
google-cloud-bigquery
google-cloud-bigquery-storage
google-generativeai
graphlib
gspread
gspread_asyncio
html5lib
iexfinance
ipykernel
isoweek
jaconv
json-fix
libcst
lxml
mapboxgl
mapclassify
markdown
matplotlib
nbformat
networkx
numpy
openai
openpyxl
orjson
pandas
pdoc
Pillow
plotly
pydeck
pygments
pyflakes
pyxirr
qrcode
roman
scikit-learn
scipy
seaborn
statsmodels
streamlit~=1.36.0
tokenize_rt
tweepy
untokenize
