altair
anthropic
bahttext
black
bokeh
beautifulsoup4
calweek
croniter
db-dtypes
descartes
fastavro
geopy
google-generativeai
graphlib
html5lib
isoweek
jaconv
json-fix
mapboxgl
mapclassify
markdown
matplotlib
networkx
openai
openpyxl
orjson
pyxirr>=0.10.5
qrcode
roman
scikit-learn
scipy
seaborn
statsmodels
tweepy
streamlit>=1.36.0
folium # ** geo.py
feedparser # ** data.py
geodatasets # ** geo.py
geopandas # ** geo.py
geoplot # ** geo.py
google-cloud-bigquery # ** data.py
google-cloud-bigquery-storage # ** data.py
iexfinance # ** data.py
lxml # ** web.py
